/* Make div expand to fit contents. */
.chat-output-form .buttons,
.chat-input-form .buttons,
.chat-input-form .form-item {
  overflow: hidden;
}

.chat-output {
  height: 100px;
  overflow: auto;
}

.chat-output dl {
  margin: 0;
}
